<h1>Welcome to your Dashboard, <%= current_user.name %>!</h1>
<p>Username: <%= current_user.username %></p>
<p>Email: <%= current_user.email %></p>
<%= image_tag current_user.avatar_url, alt: "GitHub Avatar", size: "100x100" %>

<%= link_to "Logout", logout_path, method: :delete, class: "button" %>